.burger--btn {
  background-color: transparent;
  --burger-height: 0.2em;
  --burger-width: 80%;
  --burger-space: -0.5em;
  display: grid;
  place-items: center;
  border: var(--clr-primary) 2px solid;
  padding: 2px;
  border-radius: 0.25em;
  width: 2.5em;
  height: 2.5em;
  transition: border 400ms;
}

.burger--btn:hover,
.burger--btn:focus-within {
  border: var(--clr-secondary) 2px solid;
}

.burger--bar {
  position: relative;
  display: inline-block;
  width: var(--burger-width);
  height: var(--burger-height);
  background-color: var(--clr-secondary);
  border-radius: 1em;
  transition: transform 400ms linear, opacity 400ms ease 200ms;
}

.burger--open .burger--bar {
  transition: transform 400ms linear 200ms, opacity 600ms ease;
}

.burger--open .burger__top {
  transform-origin: top left;
  transform: translateX(18%) translateY(50%) rotate(45deg);
}

.burger--open .burger__middle {
  opacity: 0;
  transform: translateX(10%);
}

.burger--open .burger__bottom {
  transform-origin: bottom left;
  transform: translateX(18%) translateY(-50%) rotate(-45deg);
}
